<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314362510604-rdag5q3lb2n7al7gdos5v58tclr6pp19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314362510604-rdag5q3lb2n7al7gdos5v58tclr6pp19</string>
	<key>API_KEY</key>
	<string>AIzaSyDnB9Ltc-f87yLmnXOPijbNXwESZxJwjr4</string>
	<key>GCM_SENDER_ID</key>
	<string>314362510604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fromo.DineScore</string>
	<key>PROJECT_ID</key>
	<string>dinescore-ad32f</string>
	<key>STORAGE_BUCKET</key>
	<string>dinescore-ad32f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:314362510604:ios:1a700b0c2d28ce43599d29</string>
</dict>
</plist>
