<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Privacy - Local Notifications Usage Description</key>
	<string>We use notifications to alert you about reviews, recommendations, and wait times.
</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>DineScore needs your location to show nearby restaurants and help you discover great places to eat.</string>
</dict>
</plist>
